.svg-map {
  width: 100%;
  stroke-linecap: round;
  stroke-linejoin: round;
  :focus,
  :hover {
    outline: 0;
  }


  g[aria-label], rect[aria-label], path[aria-label] {
    cursor: pointer;
    pointer-events: bounding-box;
    &[aria-checked=true],
    &:focus,
    &:hover {
      filter: drop-shadow(2px 4px 2px rgb(0 0 0 / 0.2));
    }
  }

  [aria-checked=true] {


  }


}







