html {
	font-size: 80%;
}

.input-selector {
	.input-dragging {
		opacity: revert;
	}
}

.form-designer {

	.form-designer-canvas {
		.p-col {
			padding: 0.25rem;
		}
		.p-field {
			margin-bottom: 0.5rem;
		}
		.section {
			margin-bottom: 1rem;
		}
		.p-fieldset-content {
			padding: 0;
		}
	}
}